<li class="programs-menu_item {% if permission.courseId == activeCourse %}active{% endif %}" menu-elem="programs-menu-item">
    <a 
        href="{{ path('app_frontend_course', {id: permission.id}) }}" 
        class="programs-menu_item_header" 
        menu-elem="program-header"
    >
        {{ permission['name'] }}
    </a>
    <ul class="modules-menu" menu-elem="modules-menu">
        {% if permission.courseInfo is not empty %}
            {% for info in permission.courseInfo %}
                <li class="modules-menu_item">
                    <div class="modules-menu_item_header">
                        <a href="{{ path('app_frontend_course_view_file', {id: info.course.id, fileName:  info.fileName}) }}">{{ info.name }}</a>
                    </div>
                </li> 
            {% endfor %}
        {% endif %}

        {{ dump(permission) }}

        {% set finalTestingEnabled = true %}

        {% for menu in permission.courseMenu %}

            <li class="modules-menu_item">
                <div class="modules-menu_item_header">{{ menu.name }}</div>
                <ul class="parts-menu">
                    {% for section in menu.sections %}

                        {% if section.active == false %}
                            {% set finalTestingEnabled = false %}
                        {% endif %}

                        <li class="parts-menu_item">
                            {% if section.active %}
                                <a href="module_theory.html">{{ section.name }}</a>
                            {% else %}
                                <a href="javascript:void(0)">{{ section.name }}</a>
                            {% endif %}
                            
                        </li>
                        {# <li class="parts-menu_item">
                            <a href="javascript:void(0)">Практическая часть</a>
                        </li> #}    
                    {% endfor %}
                </ul>
            </li>    
        {% endfor %}

        {# <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 1. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="module_theory.html">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li>
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 2. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li>
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 3. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li> #}
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">
                {% if finalTestingEnabled %}
                    <a href="{{ path('app_frontend_testing', {id: permission.id}) }}">Итоговое тестирование</a>
                {% else %}
                    <a href="javascript:void(0)">Итоговое тестирование</a>
                {% endif %}
            </div>
        </li>
    </ul>
</li>
