{% extends 'frontend/base.html.twig' %}

{% block title %}Экспресс-тест{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs'})) }}
            <div class="content">
                <div class="express-test">
                    <div class="express-test_header">
                        <h1>Итоговое тестирование</h1>
                        <div class="express-test_header_timer" test-elem="timer" end-time="{{ data['timeLeftTotal'] }}" back-timer-url="{{ path('app_frontend_get_server_time') }}">
                            <div class="express-test_header_timer_minutes" test-elem="minutes">{{ data['timeLeftMinutes'] }}</div>
                            <div class="express-test_header_timer_seconds" test-elem="seconds">{{ data['timeLeftSeconds'] }}</div>
                        </div>
                    </div>

                    <div class="express-test_pagination_wrapper">
                        {% for item in data.paginator %}
                            {% set itemClass = '' %}
                            {% if item.answered %}
                                {% set itemClass = ' answered' %}
                            {% endif %}
                            {% if data.nom == item.nom %}
                                {% set itemClass = ' current' %}
                            {% endif %}
                            <a href="{{ path('app_frontend_set_question', {id: data.permissionId, questionId: item.id}) }}" class="express-test_pagination_item{{ itemClass }}">{{ item.nom }}</a>
                        {% endfor %}
                    </div>

                    <form class="test_form express-test_form" test-form-elem="form">

                        <div class="test_form_question_wrapper">
                            <div class="test_form_question_number">
                                {{ data['nom'] }}.
                            </div>
                            <div class="test_form_question">
                                {{ data['text'] | raw }}
                            </div>
                        </div>

                        {% if data.type == 1 %}
                            {% for answer in data['answers'] %}
                                <label class="test_form_label test_form_radio_wrapper">
                                    <input class="test_form_radio" type="radio" name="answer1" value="{{ answer['nom'] }}">
                                    <div class="test_form_custom_radio"></div>
                                    <div class="test_form_answer">{{ answer['text'] | raw }}</div>
                                </label>
                            {% endfor %}

                        {% else %}

                            {% for answer in data['answers'] %}
                                <label class="test_form_label test_form_checkbox_wrapper">
                                    <input class="test_form_checkbox" type="checkbox" name="answer1" value="{{ answer['nom'] }}">
                                    <div class="test_form_custom_checkbox"></div>
                                    <div class="test_form_answer">{{ answer['text'] | raw }}</div>
                                </label>
                            {% endfor %}
                        {% endif %}

                        <div class="express-test_form_error"></div>

                        <div class="express-test_form_buttons_wrapper">
                            <button
                                type="button"
                                class="blue_button express-test_form_button_next"
                                data-url="{{ data['url'] }}"
                                data-final-url="{{ data['finalUrl'] }}"
                                data-logger-id="{{ data['loggerId'] }}"
                                data-permission-id="{{ permission.id }}"
                                data-question-type="{{ data.type }}"
                            >
                                Следующий вопрос
                            </button>
                            <a href="{{ path('app_frontend_testing_end', {id: data.loggerId}) }}" class="white-blue_button express-test_form_button_end">Завершить тест</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay{% if permission.firstTimeEnabled %} show{% endif %}" popup-element="overlay">
        <div class="popup{% if permission.firstTimeEnabled %} show{% endif %}" popup-element="popup">
            <div class="express-test_popup_header">Переход к итоговому тестированию</div>
            <div class="express-test_popup_description">
                1. Проходить итоговый тест можно неограниченное количество раз в течение срока действия курса<br/>
                2. Протоколы итогового тестирования будут хранится в разделе «История обучения»<br/>
                3. Можно свободно перемещаться по вопросам с помощью панели навигации:<br/>
                Оранжевый цвет – текущий вопрос<br/>
                Синий цвет – отвеченный вопрос<br/>
                Белый цвет – не отвеченный вопрос<br/><br/>

                Время на тестирование: {{ data.timeLeft }} минут<br/>
                Допустимое количество ошибок для положительной сдачи: {{ data.errorAllowed }}
            </div>
            <div class="popup_close_wrapper set_permission_first_time" data-url="{{ path('app_frontend_testing_set_first_time', {id: permission.id}) }}">
                <a class="popup_close" popup-element="popup-close">Начать тестирование</a>
            </div>
        </div>
    </div>

    <input
        type="hidden"
        class="time-control"
        data-url="{{ getTimingControlUrl() }}"
        data-permission-id="{{ data.permissionId }}"
        data-permission-start="{{ data.permissionLastAccess }}"
    >

{% endblock %}
