{% extends 'frontend/base.html.twig' %}

{% block title %}Результат{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs', 'activeCourse': logger.permission.course.id})) }}
            <div class="content">
                <div class="results">
                    <h1>Протокол экзамена</h1>
                    <div class="results_data">
                        <div class="results_data_row">
                            <div class="results_data_row_name">Тестируемый:</div>
                            {% if logger.user.nameLess != true %}
                                <div class="results_data_row_value">{{ logger.user.fullname}}</div>
                            {% endif %}
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Организация:</div>
                            {% if logger.user.nameLess != true %}
                                <div class="results_data_row_value">{{ logger.user.organization}}</div>
                            {% endif %}
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Результат:</div>
                            <div class="results_data_row_value">Экзамен {% if not logger.result %} не {% endif %}сдан</div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Допустимое количество ошибок:</div>
                            <div class="results_data_row_value">{{ logger.errorAllowed }}</div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Допущено ошибок:</div>
                            <div class="results_data_row_value {% if  logger.errorActually > logger.errorAllowed %} errors{% endif %}">{{ logger.errorActually }}</div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Пропущено вопросов:</div>
                            <div class="results_data_row_value {% if skipped > 0 %}skip{% endif %}">{{ skipped}}</div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Предмет тестирования:</div>
                            <div class="results_data_row_value">{{ logger.permission.course.name }}</div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Номер билета:</div>
                            <div class="results_data_row_value">
                                {% if logger.ticket is not empty %}
                                    {{ logger.ticket.nom }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                        <div class="results_data_row">
                            <div class="results_data_row_name">Дата проведения тестирования:</div>
                            <div class="results_data_row_value">{{ logger.beginAt | date('d.m.Y H:i:s') }}</div>
                        </div>
                    </div>
                    <div class="results_protocols_wrapper">
                        {% if hasSuccess %}
                            <a
                                href="{{ path('app_frontend_testing_success_print', {id: logger.permission.id}) }}"
                                class="results_protocols_item"
                                download
                            >
                                Скачать протокол первой успешной попытки
                            </a>
                        {% endif %}
                        <a
                            href="{{ path('app_frontend_testing_print', {id: logger.id}) }}"
                            class="results_protocols_item"
                            download
                        >
                            Скачать протокол крайней попытки
                        </a>
                    </div>
                    <div class="results_table">
                        <div class="results_table_header">
                            <div class="results_table_row">
                                <div class="number">№</div>
                                <div class="question">Вопрос</div>
                                <div class="answer">Ответ</div>
                                <div class="result">Результат</div>
                                <div class="correct-answer">Верный ответ</div>
                            </div>
                        </div>
                        <div class="results_table_content">
                            {% for question in logger.protocol %}
                                <div class="results_table_row" answer-result="{% if question['isCorrect'] %}right{% else %}wrong{% endif %}">
                                    <div class="number">{{ question.nom }}</div>
                                    <div class="question">{{ question.qText | raw }}</div>
                                    <div class="answer">
                                        {% for answer in question.aText %}
                                            <p>{{ answer | raw }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="result">{% if question['isCorrect'] %}Правильно{% else %}Неправильно{% endif %}</div>
                                    <div class="correct-answer">
                                        {% if question.aRightText is defined %}
                                            {{ question.aRightText | join('; ') | raw }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay{% if showGreetings %} show{% endif %}" popup-element="overlay">
        <div class="popup{% if showGreetings %} show{% endif %}" popup-element="popup">
            <div class="result_success_icon">
                <img src="{{ asset('img/firework.png') }}" alt="">
            </div>
            <div class="result_success_congratulation">Поздравляем!</div>
            <div class="result_success_header">Вы успешно прошли итоговый тест!</div>
            <div class="result_success_decription">
                <p>Обучаться по курсу, проходить все задания и тесты повторно можно неограниченное количество раз,
                    пока не закончится срок действия курса.</p>
                <p>Нам будет приятно, если вы оставите отзыв о курсе. Спасибо ❤</p>
            </div>
            <div class="result_success_button">
                <a class="red_button" href="{{ path('app_frontend_survey', {id: permissionId}) }}" target="_blank">Оставить отзыв</a>
            </div>
            <div class="popup_close_wrapper">
                <a class="popup_close" popup-element="popup-close">закрыть</a>
            </div>
        </div>
    </div>

{% endblock %}
