<a class="btn btn-outline-success" href="{{ path('admin_permission_create', {id: user.id}) }}">Добавить доступ</a>
<a class="btn btn-outline-danger" href="{{ path('admin_permission_batch_create', {id: user.id}) }}">Массовое назначение</a>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Курс</th>
            <th>Выдан</th>
            <th>Длительность</th>
            <th>Заказ</th>
            <th>Активирован</th>
            <th>Посл. доступ</th>
            <th>Время</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for permission in pagination %}
        <tr>
            <td>
                {% if permission.isActive %}
                    <span><img src="{{ asset('svg/check.svg') }}"></span>
                {% else %}
                    <span><img src="{{ asset('svg/lock.svg') }}"></span>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('admin_permission_edit', {id: permission.id}) }}">
                    {{ permission.shortName }}
                </a>
            </td>
            <td>
                {{ permission.createdAt | date('d.m.Y H:i:s') }}
            </td>
            <td>{{ permission.duration }}</td>
            <td>{{ permission.orderNom }}</td>
            <td>
                {% if permission.activatedAt is not null %}
                    {{ permission.activatedAt | date('d.m.Y H:i:s') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if permission.lastAccess is not null %}
                    {{ permission.lastAccess | date('d.m.Y H:i:s') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if permission.timeSpent is not empty %}
                    {{ getSheduledTime(permission.timeSpent) }}
                {% endif %}
            </td>
            <td>
                {% if permission.stage == 1 %}
                    Не начато
                {% elseif permission.stage == 2 %}
                    Начато
                {% else %}
                    Завершено
                {% endif %}
            </td>
            <td>
                <div class="dropstart">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('svg/more.svg') }}">
                    </button>
                    <ul class="dropdown-menu">
                        {% if permission.stage == 3 %}
                            <li>
                                <a
                                    class="dropdown-item color-item"
                                    href="{{ path('admin_print_testing', {id: permission.id, userId: user.id}) }}"
                                >
                                    <img src="{{ asset('svg/printer.svg') }}">
                                    Печать
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a
                                class="dropdown-item color-item"
                                href="{{ path('admin_permission_delete', {id: permission.id}) }}"
                                onclick="return window.confirm('Подтвердите действие');"
                            >
                                <img src="{{ asset('svg/trash.svg') }}">
                                Удалить
                            </a>
                        </li>
                        {% if permission.stage > 1 %}
                            <li>
                                <a
                                    class="dropdown-item color-item"
                                    href="{{ path('admin_permission_clear_history', {id: permission.id}) }}"
                                    onclick="return window.confirm('Подтвердите действие');"
                                >
                                    <img src="{{ asset('svg/bell.svg') }}">
                                    Очистить историю
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="navigator">
    {{ knp_pagination_render(pagination) }}
</nav>
