{% set localCourse = null %}

<table border="1">
    <thead>
        <tr>
            <th align="center">№</th>
            <th>Дата доступа</th>
            <th>ФИО</th>
            <th>Организация</th>
            <th>Логин</th>
            <th>Дата активации</th>
            <th>Посл. действие</th>
            <th>Дата экзамена</th>
            <th>Длительность обучения</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data%}

            {% if localCourse != row.shortName %}
                {% set localCourse = row.shortName%}
                {% set rowNom = 1 %}
                <tr>
                    <td></td>
                    <td>Курс</td>
                    <td colspan="8">{{ row.name }}</td>
                </tr>
            {% endif %}

            <tr>
                <td align="center">{{ rowNom }}</td>
                <td>{{ row.createdAt | date('d.m.Y') }}</td>
                <td>{{ row.fullName }}</td>
                <td>{{ row.organization }}</td>
                <td>{{ row.login }}</td>
                <td>
                    {% if row.activatedAt is not empty %}
                        {{ row.activatedAt | date('d.m.Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if row.lastAccess is not empty %}
                        {{ row.lastAccess | date('d.m.Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if row.lastExam is not empty %}
                        {{ row.lastExam | date('d.m.Y') }}    
                    {% endif %}
                </td>
                <td> {{ getSheduledTime(row.timeSpent) }}</td>
                <td>{% if row.stage == 3 %}Сдано{% else %}Не сдано{% endif %}</td>
            </tr>

            {% set rowNom = rowNom + 1 %}
        {% endfor %}
    </tbody>
</table>
