{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
    <h3>Список пользователей</h3>
    <div class="row count">

        {% set criteria = app.request.query.all %}

        <div class="col-2">
            Всего записей: {{ pagination.getTotalItemCount }}
        </div>
        <div class="col-10">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Скачать статистику
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_stattistic_to_pdf', {criteria: criteria}) }}">PDF</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_stattistic_to_docx', {criteria: criteria}) }}">DOCX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_stattistic_to_xlsx', {criteria: criteria}) }}">XLSX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button 
                        class="btn btn-outline-dark dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton2" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        Скачать данные
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_csv', {criteria: criteria}) }}">CSV</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_xlsx', {criteria: criteria}) }}">XLSX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_txt', {criteria: criteria}) }}">TXT</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_docx', {criteria: criteria}) }}">DOCX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button 
                        class="btn btn-outline-dark dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton3" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        data-load-url="{{ path('admin_user_report_send_get_content') }}"
                        data-criteria="{{ criteria | json_encode(constant('JSON_PRETTY_PRINT')) }}"
                    >
                        Скачать и отправить данные
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <li><a class="dropdown-item color-item send-user-list" href="javascript:void(0)" data-type="CSV">CSV</a></li>
                        <li><a class="dropdown-item color-item send-user-list" href="javascript:void(0)" data-type="XLSX">XLSX</a></li>
                        <li><a class="dropdown-item color-item send-user-list" href="javascript:void(0)" data-type="TXT">TXT</a></li>
                        <li><a class="dropdown-item color-item send-user-list" href="javascript:void(0)" data-type="DOCX">DOCX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button 
                        class="btn btn-outline-dark dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton4" 
                        data-bs-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                        data-load-url="{{ path('admin_user_report_send_get_content_statistic') }}"
                        data-criteria="{{ criteria | json_encode(constant('JSON_PRETTY_PRINT')) }}"
                    >
                        Скачать и отправить статистику
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <li><a class="dropdown-item color-item send-user-statistic" href="javascript:void(0)" data-type="PDF">PDF</a></li>
                        <li><a class="dropdown-item color-item send-user-statistic" href="javascript:void(0)" data-type="DOCX">DOCX</a></li>
                        <li><a class="dropdown-item color-item send-user-statistic" href="javascript:void(0)" data-type="XLSX">XLSX</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="scroll-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Создан</th>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Курс</th>
                    <th>Дней</th>
                    <th>Статус</th>
                    <th>Акт</th>
                </tr>
            </thead>

            <tbody>
                {% for permission in pagination %}
                    <tr>
                        <td>{{ permission.createdAt | date('d.m.Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', {'id': permission.userId}) }}">{{ permission.login }}</a>
                        </td>
                        <td>{{ permission.fullName }}</td>
                        <td>{{ permission.organization }}</td>
                        <td>{{ permission.shortName }}</td>
                        <td>
                            <div class="input-group" style="width:120px;">
                                <span style="padding-right:5px;">{{ permission.duration }}</span>
                                <input type="number" class="form-control">
                                <button class="btn btn-danger btn-sm button-add-duration" data-permission-id="{{ permission.permissionId }}">+</button>
                            </div>
                        </td>
                        <td>
                            {% if permission.stage == 1 %}
                               Не начато
                            {% elseif permission.stage == 2 %}
                                В процессе
                            {% elseif permission.stage == 3 %}
                                <a 
                                    href="{{ path('admin_print_testing', {id: permission.permissionId, userId: permission.userId}) }}"
                                    target="_blank"
                                >
                                    Завершено
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <span>
                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    {% if permission.active == 1 %}checked{% endif %} disabled>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <input type="hidden" id="add-duration-button" data-add-duration-url="{{ path('admin_permission_add_duration') }}">

{% endblock %}
