{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
    <h3>Список пользователей</h3>
    <span>Всего записей: {{ pagination.getTotalItemCount }}</span>

    <div class="row">

        {% set criteria = app.request.query.all %}

        <div class="col-12">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Cтатистика
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_statistic_to_pdf', {criteria: criteria}) }}">PDF</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_statistic_to_docx', {criteria: criteria}) }}">DOCX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_statistic_to_xlsx', {criteria: criteria}) }}">XLSX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button
                        class="btn btn-outline-dark dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton2"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Данные
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_csv', {criteria: criteria}) }}">CSV</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_xlsx', {criteria: criteria}) }}">XLSX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_txt', {criteria: criteria}) }}">TXT</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_user_report_list_to_docx', {criteria: criteria}) }}">DOCX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button
                        class="btn btn-outline-dark dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton3"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Отправить данные
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_report_create', {type: 'CSV', criteria: criteria}) }}">CSV</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_report_create', {type: 'XLSX', criteria: criteria}) }}">XLSX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_report_create', {type: 'TXT', criteria: criteria}) }}">TXT</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_report_create', {type: 'DOCX', criteria: criteria}) }}">DOCX</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button
                        class="btn btn-outline-dark dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton4"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Отправить статистику
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_statistic_create', {type: 'PDF', criteria: criteria}) }}">PDF</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_statistic_create', {type: 'DOCX', criteria: criteria}) }}">DOCX</a></li>
                        <li><a class="dropdown-item color-item" href="{{ path('admin_email_statistic_create', {type: 'XLSX', criteria: criteria}) }}">XLSX</a></li>
                    </ul>
                </div>
                <a
                    class="btn btn-outline-dark"
                    href="{{ path('admin_permission_check_select_all', {criteria: criteria}) }}"
                    onclick="return window.confirm('Подтвердите действие')"
                >
                    Выбрать всех
                </a>
                <a
                    class="btn btn-outline-dark"
                    href="{{ path('admin_permission_check_cancel_select', {criteria: criteria}) }}"
                    onclick="return window.confirm('Подтвердите действие')"
                >
                    Снять отметку
                </a>
                <button
                    class="btn btn-outline-dark"
                    id="permission-checked-prolongate"
                    data-url="{{ path('admin_permission_prolongate_load_form') }}"
                >
                    Продлить доступы
                </button>
                <a
                    class="btn btn-outline-dark"
                    href="{{ path('admin_user_report_permission_selected') }}"
                    title="Отчет о выбранных слушателях"
                >
                    <img src="{{ asset('svg/printer.svg') }}">
                </a>
            </div>
        </div>
    </div>

    {% if selectedCount > 0 %}
        <p></p>
        <div class="row">
             <div class="d-grid gap-2">
                <a class="btn btn-danger" href="{{ path('admin_user_list', {user_search: {userId: true, checkedMe: true}}) }}">
                    У вас есть отмеченные пользователи: {{ selectedCount }}. Нажмите, чтобы посмотреть
                </a>
            </div>
        </div>
    {% endif %}

    <div class="scroll-table">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Создан</th>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Курс</th>
                    <th>Дней</th>
                    <th>Статус</th>
                    <th>Акт</th>
                </tr>
            </thead>

            <tbody>
                {% for permission in pagination %}
                    <tr>
                        <td>
                            <div>
                                <input
                                    class="form-check-input user-list-checkbox"
                                    type="checkbox"
                                    data-permission-id="{{ permission.permissionId }}"
                                    value=""
                                    aria-label="..."
                                    {% if permission.checkedMe %}
                                        checked
                                    {% endif %}
                                >
                            </div>
                        </td>
                        <td>{{ permission.createdAt | date('d.m.Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('admin_user_edit', {'id': permission.userId}) }}">{{ permission.login }}</a>
                        </td>
                        <td>{{ permission.fullName }}</td>
                        <td>{{ permission.organization }}</td>
                        <td>{{ permission.shortName }}</td>
                        <td>
                            <div class="input-group" style="width:120px;">
                                <span style="padding-right:5px;">{{ permission.duration }}</span>
                                <input type="number" class="form-control">
                                <button class="btn btn-danger btn-sm button-add-duration" data-permission-id="{{ permission.permissionId }}">+</button>
                            </div>
                        </td>
                        <td>
                            {% if permission.stage == 1 %}
                               Не начато
                            {% elseif permission.stage == 2 %}
                                В процессе
                            {% elseif permission.stage == 3 %}
                                <a
                                    href="{{ path('admin_print_testing', {id: permission.permissionId, userId: permission.userId}) }}"
                                    target="_blank"
                                >
                                    Завершено
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <span>
                                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                                    {% if permission.active == 1 %}checked{% endif %} disabled>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <input type="hidden" id="add-duration-button" data-add-duration-url="{{ path('admin_permission_add_duration') }}">
    <input type="hidden" id="check-user-list" data-check-user-list-url="{{ path('admin_permission_check_permission') }}">

{% endblock %}
