{% extends 'frontend/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}

    <div class="global-content">
         {% include('frontend/components/background.html.twig') %}

        <div class="auth-form_wrapper">
            <div class="auth-form_logo">
                <img src="{{ asset('img/peb_logo_auth.png') }}" alt="logo">
            </div>
            <form class="auth-form" form-elem="form" action="{{ path('app_login') }}" method="POST">

                <label class="auth-form_label" form-elem="label">
                    <input class="auth-form_input" name="login" type="text" autocomplete="off" form-elem="input-text" value="{{ lastUsername }}">
                    <div class="auth-form_name">Логин</div>
                </label>

                <label class="auth-form_label" form-elem="label">
                    <input class="auth-form_input" name="password" type="password" form-elem="input-text">
                    <div class="auth-form_name">Пароль</div>
                </label>

                {% if error %}
                    <div class="auth-form_error">
                        {{ error.messageKey | trans(error.messageData, 'my_security') }}
                    </div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="auth-form_submit_wrapper">
                    <button class="auth-form_submit red_button" type="submit">Войти в систему</button>
                </div>

                <div class="auth-form_difficulties_wrapper">
                    <a href="javascript:void(0)" class="auth-form_difficulties" element-action="open-popup">Возникли трудности?</a>
                </div>

            </form>
        </div>
        <div class="demo-link_wrapper">
            <a href="{{ path('app_demo') }}" class="demo-link">Демо-версия</a>
        </div>
        <div class="overlay" popup-element="overlay">
            <div class="popup" popup-element="popup">
                <p>Если не получается войти в систему:</p>
                <ol>
                    <li>Попробуйте обновить страницу и ввести данные снова</li>
                    <li>Проверьте правильность ввода данных</li>
                    <li>Обратитесь в техподдержку</li>
                </ol>
                <p>Телефон: <a href="tel:+78462691526">+7 (846) 26-915-26</a></p>
                <p>Email: <a href="mailto:support@safety63.ru">support@safety63.ru</a></p>
                <p>График работы: пн-чт: с 08:00 до 17:00, пт: с 08:00 до 16:00</p>
                <div class="popup_close_wrapper">
                    <a class="popup_close" popup-element="popup-close">закрыть</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
