{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'exceptions' %}

{% block title %}Панель управления | Задачи{% endblock %}

{% block content %}

    <h3>Задачи</h3>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Создано</th>
                <th>Завершено</th>
                <th>Содержание</th>
                <th>Автор</th>
            </tr>
        </thead>

        <tbody>
        {% for job in pagination %}
            <tr>
                <td>
                    {% if job.documentLink is null %}
                        <img src="{{ asset('svg/check.svg') }}">
                    {% else %}
                        <a href="javascript:void(0)" class="d-inline-block" onclick="alert('{{ job.documentLink | trans | replace({'\'':''}) }}')">
                            <img src="{{ asset('svg/redcross.svg') }}">
                        </svg>
                    </a>
                    {% endif %}
                </td>
                <td>
                    {{ job.startAt | date('d.m.Y H:i:s') }}
                </td>
                <td>
                    {% if job.endAt is defined and job.endAt is not null %}
                        {{ job.endAt | date('d.m.Y H:i:s') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ job.description }}</td>
                <td>{{ job.user.fullName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
