{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Отчеты{% endblock %}

{% block content %}
    <p>Время обучения для слушателя: {{ app.user.name }}</p>
    <p>Начало отчетного периода: {{ start | date('d.m.Y H:i:s') }}</p>
    <p>Окончание отчетного периода: {{ end | date('d.m.Y H:i:s') }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>Курс</th>
                <th>Обучение</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.courseName }}</td>
                    <td>{{ row.totalTime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}