{% extends 'frontend/base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_demo_left_menu', {'activeItem': 'my-programs', 'activeCourse': course.id })) }}
            <div class="content" history-elem="wrapper">
                <h1>{{ course.name }}</h1>
                {% for info in courseInfo %}
                    <a
                        href="{{ path('app_demo_info_view', {fileName: info.fileName, moduleTitle: info.name, id: course.id }) }}"
                        target="_blank"
                    >
                        <div>
                            {{ info.name }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

{% endblock %}
