<div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-success" href="{{ path('admin_answer_create', {id: form.vars['value'].id}) }}">
            Новый ответ
        </a>
    {% endif %}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Ном.</th>
        <th>Прав.</th>
        <th>Текст</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for answer in answers %}
        <tr>
            <td>{{ answer.nom }}</td>
            <td>
                {% if answer.isCorrect %}
                    Да
                {% else %}
                    Нет
                {% endif %}
            </td>
            <td>
                <a href="{{ path('admin_answer_edit', {'id': answer.id}) }}">{{ answer.shortDescription }}</a>
            </td>
            <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a
                            href="{{ path('admin_answer_delete', {'id': answer.id}) }}"
                            class="btn btn-sm btn-outline-danger"
                            onclick="return window.confirm('Подтвердите действие');"
                    >
                        <img src="{{ asset('svg/trash.svg') }}">
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
