<div class="programs_item" content-elem="programs-item">
    <div class="programs_item_image_wrapper">
        <div class="programs_item_image_inner">
            {% if permission.course.image is null%}
                <img src="{{ asset('img/no_course_image.jpg') }}" alt="">
            {% else %}
                <img src="/storage/course/{{ permission.course.shortNameCleared }}{{ asset(permission.course.image) }}" alt="">
            {% endif %}
        </div>
    </div>
    <div class="programs_item_header">
        {{ permission.course.name }}
    </div>
    <div class="programs_item_status_wrapper">
        <div class="programs_item_status"></div>
        <a 
            href="{{ path('app_frontend_course', {id: permission.id}) }}" 
            class="programs_item_status_link red_button"
        >
            {% if permission.stage == 1 %}
                Начать обучение
            {% elseif permission.stage == 2 %}
                Продолжить обучение
            {% else %}
                Обучение завершено
            {% endif %}
        </a>
    </div>
</div>
