{% extends 'frontend/base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="container">
            <h1>{{ course.name }}</h1>
            {% if courseInfo is not empty %}
                <div class="program_files">
                    <a 
                        class="program_files_item" 
                        href="{{ path('app_demo_info_list', {id: course.id }) }}"
                    >
                        <div class="program_files_item_image">
                            <img src="{{ asset('img/file.svg') }}" alt="">
                        </div>
                        <div class="program_files_item_name">
                            Нормативные материалы
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="demo-programs">
                <div class="modules">
                    <div class="modules_item">
                        <div class="modules_item_check"></div>
                        <div class="modules_item_composition">
                            {# {% if hasMultipleThemes %}
                                <a href="{{ path('app_frontend_preparation_many', {id: permission.id}) }}" class="modules_item_name" status="passed">Подготовка к аттестации</a>
                            {% else %}
                                <a href="{{ path('app_frontend_preparation_one', {id: permission.id, themeId: themeId}) }}" class="modules_item_name" status="passed">Подготовка к аттестации</a>
                            {% endif %} #}
                        </div>
                    </div>
                    <div class="modules_item">
                        <div class="modules_item_check"></div>
                        <div class="modules_item_composition">
                            <a href="{{ path('app_frontend_testing', {id: course.id}) }}" class="modules_item_name" content-elem="final-testing" status="passed">Итоговое тестирование</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

{% endblock %}
