{% extends 'frontend/base.html.twig' %}

{% block title %}Экспресс-тест{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_demo_left_menu', {'activeItem': 'my-programs', 'activeCourse': course.id })) }}
            <div class="content">
                <div class="express-test">
                    <div class="express-test_header">
                        <h1>Итоговое тестирование</h1>
                        <div class="express-test_header_timer" test-elem="timer" end-time="{{ data['timeLeftTotal'] }}" back-timer-url="{{ path('app_frontend_demo_get_server_time') }}">
                            <div class="express-test_header_timer_minutes" test-elem="minutes">{{ data['timeLeftMinutes'] }}</div>
                            <div class="express-test_header_timer_seconds" test-elem="seconds">{{ data['timeLeftSeconds'] }}</div>
                        </div>
                    </div>
                    <form class="test_form express-test_form" test-form-elem="form">

                        <div class="test_form_question_wrapper">
                            <div class="test_form_question_number">
                                {{ data['nom'] }}.
                            </div>
                            <div class="test_form_question">
                                {{ data['text'] | raw }}
                            </div>
                        </div>

                        {% if data.type == 1 %}
                            {% for answer in data['answers'] %}
                                <label class="test_form_label test_form_radio_wrapper">
                                    <input class="test_form_radio" type="radio" name="answer1" value="{{ answer['nom'] }}">
                                    <div class="test_form_custom_radio"></div>
                                    <div class="test_form_answer">{{ answer['text'] | raw }}</div>
                                </label>
                            {% endfor %}
                        {% else %}
                            {% for answer in data['answers'] %}
                                <label class="test_form_label test_form_checkbox_wrapper">
                                    <input class="test_form_checkbox" type="checkbox" name="answer1" value="{{ answer['nom'] }}">
                                    <div class="test_form_custom_checkbox"></div>
                                    <div class="test_form_answer">{{ answer['text'] | raw }}</div>
                                </label>
                            {% endfor %}
                        {% endif %}

                        <div class="express-test_form_error"></div>

                        <div class="express-test_form_buttons_wrapper">
                            <button
                                type="button"
                                class="blue_button express-test_form_button_next"
                                data-url="{{ data['url'] }}"
                                data-final-url="{{ data['finalUrl'] }}"
                                data-logger-id="{{ data['loggerId'] }}"
                                data-permission-id="{{ course.id }}"
                                data-question-type="{{ data.type }}"
                            >
                                Следующий вопрос
                            </button>
                            <a href="{{ path('app_demo_final_testing_end', {id: course.id}) }}" class="white-blue_button express-test_form_button_end">Завершить тест</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

{% endblock %}
