{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Действия{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    <span>Действия</span>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Время</th>
                <th>Автор</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for row in pagination %}
                <tr>
                    <td>{{ row.createdAt | date('d.m.Y H:i:s') }}</td>
                    <td>{{ row.createdBy.fullName }}</td>
                    <td>{{ row.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="navigator">
        {{ knp_pagination_render(pagination) }}
    </nav>
{% endblock %}
