<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

</head>
<body>
<div class="container">

    <div
        class="row border border-dark shadow p-3 mb-5 bg-body rounded text-center sticky-top"
        style="margin-bottom:5px!important;"
    >
        <div class="col-3">
            {{ app.user.fullName }}
        </div>
        <div class="col-8">
            Панель управления
        </div>
        <div class="col-1">
            <a href="{{ path('app_logout') }}" class="btn btn-outline-dark">Выход</a>
        </div>
    </div>

    <div class="row" id="app">
        <div class="col-2">
            <ul class="list-group">
                <a
                    href="{{ path('admin_homepage') }}"
                    class="list-group-item list-group-item-action list-group-item-light"
                >
                    Поиск пользователя
                </a>
                <a
                    href="{{ path('admin_user_create') }}"
                    class="list-group-item list-group-item-action list-group-item-light"
                >
                    Создать пользователя
                </a>
                <a
                    href="{{ path('admin_loader') }}"
                    class="list-group-item list-group-item-action list-group-item-light"
                >
                    Загрузка из 1C
                </a>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a
                        href="{{ path('admin_course_list') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Учебные материалы
                    </a>

                    <a
                        href="{{ path('admin_profile_list') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Профили
                    </a>
                    <a
                        href="{{ path('admin_load_course') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Загрузка курсов
                    </a>

                    <a
                        href="{{ path('admin_query_job') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Задачи
                    </a>

                    <a
                        href="{{ path('admin_dashboard') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Инструменты
                    </a>
                {% else %}
                    <a
                        href="{{ path('admin_dashboard_mail_list') }}"
                        class="list-group-item list-group-item-action list-group-item-light"
                    >
                        Рассылки
                    </a>
                {% endif %}

                <a
                    href="{{ path('admin_query_1cload') }}"
                    class="list-group-item list-group-item-action list-group-item-light"
                >
                    Очередь
                </a>
            </ul>
        </div>
        <div class="col-10">
            <div>
                {% block breadcrumbs %}{% endblock %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>

    {# Toast message #}
    <div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 1050">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="{{ asset('svg/slice.svg') }}" class="rounded me-2" alt="...">
                <strong class="me-auto">Сообщение</strong>
                {# <small>11 mins ago</small> #}
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast-message">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    {% include 'admin/components/modal.html.twig' %}

</div>

{# Init toasts #}
<script>
    var toastLiveExample = document.getElementById('liveToast')
</script>

{# read and display just one flash message type #}
{% for message in app.flashes('error') %}
    <div class="toast-error-message" data-color="#ffffff" data-back-color="#ff0000" data-message="{{ message }}"></div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="toast-error-message" data-color="#ffffff" data-back-color="#008000" data-message="{{ message }}"></div>
{% endfor %}

{% block javascripts %}
     {{ encore_entry_script_tags('admin') }}
{% endblock%}

{% block jsScripts %}{% endblock %}

</body>
</html>
