{% extends 'frontend/base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_demo_left_menu', {'activeItem': 'my-programs', 'activeCourse': course.id})) }}
            <div class="content">
                <div class="program">
                    <h1>{{ course.name }}</h1>
                    {% if courseInfo is not empty %}
                        <div class="program_files">
                            <a
                                class="program_files_item"
                                href="{{ path('app_demo_info_list', {id: course.id }) }}"
                            >
                                <div class="program_files_item_image">
                                    <img src="{{ asset('img/file.svg') }}" alt="">
                                </div>
                                <div class="program_files_item_name">
                                    Нормативные материалы
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    <div class="modules">
                        {% for module in courseProgress %}
                            <div class="modules_item">
                                <div class="modules_item_check" status="passed"></div>
                                <div class="modules_item_composition">
                                    <div class="modules_item_name" status="passed">{{ module.name }}</div>
                                    <div class="modules_item_parts">
                                        {% for section in module.sections %}
                                            <a href="{{ path('app_demo_module_section', {id: section.id }) }}" class="modules_item_parts_item">{{ section.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="modules_item">
                            <div class="modules_item_check"></div>
                            <div class="modules_item_composition">
                                <a
                                    href="{{ path('app_demo_final_testing', {id:course.id}) }}"
                                    class="modules_item_name"
                                    content-elem="final-testing"
                                    status="passed"
                                >
                                    Итоговое тестирование
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

{% endblock %}
