{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Учебные материалы{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    <a href="{{ path('admin_course_list') }}">Учебные материалы</a>
    <span>/</span>
    <a href="{{ path('admin_module_edit', {id: moduleSection.module.id}) }}">{{ moduleSection.module.name }}</a>
    <span>/</span>
    <span>Редактирование</span>
{% endblock %}

{% block content %}

    <h3>
        Редактирование страницы
    </h3>

    {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}

        <div class="col-12 mb-3">
            <div class="form-group">
                <span class="text-danger">{{ form_errors(form.name) }}</span>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <span class="text-danger">{{ form_errors(form.type) }}</span>
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
            </div>
        </div>

        {% if moduleSection.id is not null %}

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.prevMaterialId) }}</span>
                    {{ form_label(form.prevMaterialId) }}
                    {{ form_widget(form.prevMaterialId) }}
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.nextMaterialId) }}</span>
                    {{ form_label(form.nextMaterialId) }}
                    {{ form_widget(form.nextMaterialId) }}
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.finalTestingIsNext) }}</span>
                    {{ form_label(form.finalTestingIsNext) }}
                    {{ form_widget(form.finalTestingIsNext) }}
                </div>
            </div>

            {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <a
                    href="{{ path('admin_module_section_page_add', {id: moduleSection.id}) }}"
                    class="btn btn-outline-success"
                >
                    Добавить шаблон
                </a>
            {% endif %}
            <table class="table">
                <tbody>
                    {% for page in moduleSectionPages %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_module_section_page_edit', {id: page.id}) }}">{{ page.name }}</a>
                            </td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td>
                                    <a
                                        href="{{ path('admin_module_section_page_delete', {id: page.id}) }}"
                                        class="btn btn-sm btn-outline-danger"
                                        onclick="return window.confirm('Подтвердите действие');"
                                    >
                                        Удалить
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="form-group mb-3">
            {{ form_widget(form.submit) }}
        </div>

    {{ form_end(form) }}

{% endblock %}
