<p></p>
<div class="row">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div>
            <a class="btn btn-outline-success" href="{{ path('admin_course_info_create', {id: course.id}) }}">
                Добавить материалы
            </a>
            <a class="btn btn-outline-danger" href="{{ path('admin_course_info_batch_create', {id: course.id}) }}">
                Пакетная загрузка
            </a>
        </div>
    {% endif %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for info in courseInfos %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_course_info_edit', {id: info.id}) }}">{{ info.name }}</a>
                        </td>
                        <td style="text-align:right;">
                            <div class="dropstart">
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('svg/more.svg') }}">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item color-item"
                                            href="{{ path('view', {filename: info.fileName, courseId: info.course.id}) }}"
                                            target="_blank"
                                        >
                                            <img src="{{ asset('svg/eye.svg') }}">
                                            Просмотр
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li>
                                            <a
                                                class="dropdown-item color-item"
                                                href="{{ path('admin_course_info_delete', {'id': info.id}) }}"
                                                onclick="return window.confirm('Подтвердите действие');"
                                            >
                                                <img src="{{ asset('svg/trash.svg') }}">
                                                Удалить
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>
