<p></p>

<table class="table">
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col-11">
                            <a 
                                class="link-dark" 
                                data-bs-toggle="collapse" 
                                href="#collapse_{{ loop.index0 }}" 
                                role="button" 
                                aria-expanded="false" 
                                aria-controls="myCollapse"
                            >
                                Билет № {{ ticket.ticketNom }}
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="{{ path('admin_tickets_print', {id: ticket.id}) }}" target="_blank">Печать</a>
                        </div>
                    </div>

                    <div class="collapse" id="collapse_{{ loop.index0 }}">
                        <div class="card card-body">
                            {% for data in ticket.data %}
                                <div><strong>Тема:</strong></div>
                                <div>{{ data.theme }}</div>
                                {% if data.questions is defined %}
                                    <div>
                                        {% for question in data.questions %}
                                            <div>
                                                <div><strong>Вопрос {{ question.nom }}</strong></div>
                                                <div>{{ question.description | raw }}</div>
                                                {% if question.answers is defined %}
                                                    {% for answer in question.answers %}
                                                        <div><strong>Правильный ответ:</strong></div>
                                                        <div>{{ answer | raw }}</div>
                                                    {% endfor %}    
                                                {% endif %}
                                            </div>
                                            <div><strong>Подсказка:</strong></div>
                                            <div>{{ question.help | raw }}</div>
                                            <br>
                                        {% endfor %}
                                    </div> 
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
