{% extends 'admin/base_mobile.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content %}

    <h3>Учебные материалы</h3>

    <div class="row">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-6">
                <a class="btn btn-outline-success" href="{{ path('admin_course_create') }}">
                    Добавить материал
                </a>
            </div>
        {% endif %}
        <div class="col-6">
            <select id="course-type-select" class="form-select">
                <option {% if app.request.get('type') == '' %}selected{% endif %} value="0">Все материалы</option>
                <option {% if app.request.get('type') == '1' %}selected{% endif %} value="1">Классические</option>
                <option {% if app.request.get('type') == '2' %}selected{% endif %} value="2">Демо</option>
                <option {% if app.request.get('type') == '3' %}selected{% endif %} value="3">Интерактивные</option>
            </select>
        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-12">
            <select id="profile-type-select" class="form-select">
                <option {% if app.request.get('profile') == '' %}selected{% endif %} value="0">Все профили</option>
                {% for profile in profiles %}
                    <option
                            {% if app.request.get('profile') == profile['id'] %}selected{% endif %}
                            value="{{ profile['id'] }}"
                    >
                        {{ profile['name'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Наименование</th>
            <th>Профиль</th>
            <th>Билетов</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for course in pagination %}
            <tr>
                <td>{{ course.id }}</td>
                <td>
                    <a href="{{ path('admin_course_edit', {'id': course.id}) }}">{{ course.shortName }}</a>
                </td>
                <td>
                    {{ course.profileName }}
                </td>
                <td>
                    {{ course.ticketCnt }}
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a
                                href="{{ path('admin_course_delete', {'id': course.id}) }}"
                                class="btn btn-sm btn-outline-danger"
                                onclick="return window.confirm('Подтвердите действие');"
                        >
                            <img src="{{ asset('svg/trash.svg') }}">
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="navigator">
        {{ knp_pagination_render(pagination) }}
    </nav>

{% endblock %}
