{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content %}

    <h3>Учебные материалы</h3>

    <div class="row">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-3">
                <a class="btn btn-outline-success" href="{{ path('admin_course_create') }}">
                    Добавить материал
                </a>
            </div>
        {% endif %}

        <div class="col-3">
            <div class="input-group">
                <input class="form-control" id="course-life-search" placeholder="Наименование" value="{{ name }}">
                 <span
                        class="input-group-text"
                        id="course-life-search-button"
                        {# data-url="{{ path('admin_user_change_password', {id: form.vars.value.id}) }}" #}
                        title="поиск"
                    >
                        <img src="{{ asset('svg/search.svg') }}">
                    </span>
            </div>
        </div>

        <div class="col-2">
            <select id="course-type-select" class="form-select">
                <option {% if app.request.get('type') == '' %}selected{% endif %} value="0">Все материалы</option>
                <option {% if app.request.get('type') == '1' %}selected{% endif %} value="1">Классические</option>
                <option {% if app.request.get('type') == '2' %}selected{% endif %} value="2">Интерактивные</option>
            </select>
        </div>

        <div class="col-4">
            <select id="profile-type-select" class="form-select">
                <option {% if app.request.get('profile') == '' %}selected{% endif %} value="0">Все профили</option>
                {% for profile in profiles %}
                    <option
                        {% if app.request.get('profile') == profile['id'] %}selected{% endif %}
                        value="{{ profile['id'] }}"
                    >
                        {{ profile['name'] }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Тип</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Профиль</th>
            <th>Билетов</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            {% for course in pagination %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>
                        {% if course.forDemo == 1 %}
                            <img src="{{ asset('svg/eye.svg') }}">
                        {% elseif course.type == 1 %}
                            <img src="{{ asset('svg/key.svg') }}">
                        {% elseif course.type == 2 %}
                            <img src="{{ asset('svg/game.svg') }}">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_course_edit', {'id': course.id}) }}">{{ course.shortName }}</a>
                    </td>
                    <td>
                        {{ course.name }}
                    </td>
                    <td>
                        {{ course.profileName }}
                    </td>
                    <td>
                        {{ course.ticketCnt }}
                    </td>
                    <td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="dropstart">
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ asset('svg/more.svg') }}">
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item color-item"
                                            href="{{ path('admin_course_copy', {'id': course.id}) }}"
                                            onclick="return window.confirm('Подтвердите действие');"
                                        >
                                            <img src="{{ asset('svg/layers.svg') }}">
                                            Копировать
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item color-item"
                                            href="{{ path('admin_course_delete', {'id': course.id}) }}"
                                            onclick="return window.confirm('Подтвердите действие');"
                                        >
                                            <img src="{{ asset('svg/trash.svg') }}">
                                            Удалить
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="navigator">
        {{ knp_pagination_render(pagination) }}
    </nav>

{% endblock %}
