{% extends 'admin/base.html.twig' %}

{% block title %}Загрузка слушателей{% endblock %}

{% block content %}

    <h3>Загрузка слушателей</h3>

    <div class="btn-group">
        <button class="btn btn-outline-dark" id="load1C" data-url="{{ path('admin_import_1C') }}">Загрузить из 1С</button>
        <button class="btn btn-outline-dark" id="selectAll" data-url="{{ path('admin_loader_set_all_check_box') }}">Выбрать всех</button>
        <button class="btn btn-outline-dark" id="unselectAll" data-url="{{ path('admin_loader_set_all_check_box') }}">Снять отметку</button>
        <button
            class="btn btn-outline-dark"
            id ="assignCourse"
            data-check="{{ path('admin_loader_check_empty') }}"
            data-prepare="{{ path('admin_loader_prepare_data') }}"
            data-query={{ path('admin_loader_check_query') }}
        >
            Назначить курс
        </button>
        <div class="dropdown">
            <button
                class="btn btn-outline-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-url="{{ path('admin_loader_set_messenger') }}"
            >
                Информирование
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item color-item" href="javascript:void(0)" id="set-msg-whatsup">WhatsApp</a></li>
                <li><a class="dropdown-item color-item" href="javascript:void(0)" id="set-mag-max">Max</a></li>
                <li><a class="dropdown-item color-item" href="javascript:void(0)" id="set-mag-both">WhatsApp + Max</a></li>
                <li><a class="dropdown-item color-item" href="javascript:void(0)" id="set-mag-none">Ни одного</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button
                class="btn btn-outline-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Скачать
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_csv')}}" id="getContentCSV">CSV</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_xlsx') }}" id="getContentXLSX">XLSX</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_txt') }}" id="getContentTXT">TXT</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_docx') }}" id="getContentDOCX">DOCX</a></li>
            </ul>
        </div>
    </div>

    {% if hasError %}
        <p></p>
        <div class="row alert alert-danger">
            В загруженном файле содержатся ошибки!
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="align-top">Заказ</th>
                <th class="align-top">ФИО</th>
                <th class="align-top">Email, телефон</th>
                <th class="align-top">
                    Информирование
                    <div>
                        <span class="bg-warning fw-normal">Уже есть</span>
                        <span class="bg-danger fw-normal">Отключено</span>
                    </div>
                </th>
                <th class="align-top">Организация, должность</th>
                <th class="align-top">Курс</th>
            </tr>
        </thead>

        <tbody>
            {% for item in data %}
                <tr>
                    <td>
                        {% if item.errors is not empty %}
                            <a href="javascript:void(0)" class="d-inline-block" onclick="alert('{{ item.errors }}')">
                                <img src="{{ asset('svg/redcross.svg') }}">
                            </a>
                        {% else %}
                            <div>
                                <input
                                    class="form-check-input loader-checkbox"
                                    type="checkbox"
                                    id="check_{{ item.id }}"
                                    data-loader-id="{{ item.id }}"
                                    value=""
                                    aria-label="..."
                                    {% if item.checked %}
                                        checked
                                    {% endif %}
                                >
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ item.orderNo}}</td>
                    <td>
                        {{ item.lastName}} {{ item.firstName}} {{ item.patronymic }}
                    </td>
                    <td>
                        {% if item.email is not empty %}
                            {% if item.emailChecked %}
                                {{ item.email }}<br>
                            {% else %}
                                <span class="text-danger-emphasis">{{ item.email }}</span>
                            {% endif %}
                        {% endif %}

                        {% if item.phone is not empty %}
                            {{ item.phone }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.toEmail %}
                            <div>почта</div>
                        {% endif %}

                        {% set whatsAppClassBack = '' %}
                        {% if item.whatsAppExists %}
                            {% set whatsAppClassBack = 'bg-warning' %}
                        {% endif %}
                        {% if item.whatsappDisabled %}
                            {% set whatsAppClassBack = 'bg-danger' %}
                        {% endif %}
                        {% if item.toWhatsApp %}
                            <div class="{{ whatsAppClassBack }}">Whatsapp</div>
                        {% endif %}

                        {% set maxClassBack = '' %}
                        {% if item.whatsAppExists %}
                            {% set maxAppClassBack = 'bg-warning' %}
                        {% endif %}
                        {% if item.whatsappDisabled %}
                            {% set maxAppClassBack = 'bg-danger' %}
                        {% endif %}
                        {% if item.toMax %}
                            <div class="{{ maxClassBack }}">Max</div>
                        {% endif %}
                    </td>
                    <td>
                        {{ item.organization }} <br> {{ item.position }}
                    </td>
                    <td>{{ item.courseName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="hidden" id="checkbox-change-url" data-url="{{ path('admin_loader_change_check_box') }}">
    <input type="hidden" id="empty-data" data-empty="{{ emptyData }}">
    <div id="loading-content"></div>

{% endblock %}
