{% extends 'admin/base.html.twig' %}

{% block title %}Загрузка слушателей{% endblock %}

{% block content %}

    <h3>Загрузка слушателей</h3>

    <div class="btn-group">
        <button class="btn btn-outline-dark" id="load1C" data-url="{{ path('admin_import_1C') }}">Загрузить из 1С</button>
        <button class="btn btn-outline-dark" id="selectAll" data-url="{{ path('admin_loader_set_all_check_box') }}">Выбрать всех</button>
        <button class="btn btn-outline-dark" id="unselectAll" data-url="{{ path('admin_loader_set_all_check_box') }}">Снять отметку</button>
        <button
            class="btn btn-outline-dark"
            id ="assignCourse"
            data-check="{{ path('admin_loader_check_empty') }}"
            data-prepare="{{ path('admin_loader_prepare_data') }}"
            data-query={{ path('admin_loader_check_query') }}
        >
            Назначить курс
        </button>
        <div class="dropdown">
            <button
                class="btn btn-outline-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Скачать
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_csv')}}" id="getContentCSV">CSV</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_xlsx') }}" id="getContentXLSX">XLSX</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_txt') }}" id="getContentTXT">TXT</a></li>
                <li><a class="dropdown-item color-item" href="{{ path('admin_loader_report_to_docx') }}" id="getContentDOCX">DOCX</a></li>
            </ul>
        </div>
        {# <div class="dropdown hide">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Скачать и отправить данные
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item color-item" href="#" onclick="getEmail('CSV')">CSV</a></li>
                <li><a class="dropdown-item color-item" href="#" onclick="getEmail('XLSX')">XLSX</a></li>
                <li><a class="dropdown-item color-item" href="#" onclick="getEmail('TXT')">TXT</a></li>
                <li><a class="dropdown-item color-item" href="#" onclick="getEmail('DOCX')">DOCX</a></li>
            </ul>
        </div> #}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Заказ</th>
            <th>Фамилия, имя, отчество, email, телефон</th>
            <th>Организация, должность</th>
            <th>Курс</th>
        </tr>
        </thead>

        <tbody>
            {% for item in data %}
                <tr>
                    <td>
                        <div>
                            <input
                                class="form-check-input loader-checkbox"
                                type="checkbox"
                                id="check_{{ item.id }}"
                                data-loader-id="{{ item.id }}"
                                value=""
                                aria-label="..."
                                {% if item.checked %}
                                    checked
                                {% endif %}
                            >
                        </div>
                    </td>
                    <td>{{ item.orderNo}}</td>
                    <td>
                        {{ item.lastName}} {{ item.firstName}} {{ item.patronymic }}

                        {% if item.email is not empty %}
                            <br>
                            {% if item.emailChecked %}
                                {{ item.email }}
                            {% else %}
                                <span class="text-danger-emphasis">{{ item.email }}</span>
                            {% endif %}
                        {% endif %}

                        {% if item.phone is not empty %}
                            <br>{{ item.phone }}
                        {% endif %}
                    </td>
                    <td>
                        {{ item.organization }} <br> {{ item.position }}
                    </td>
                    <td>{{ item.courseName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="hidden" id="checkbox-change-url" data-url="{{ path('admin_loader_change_check_box') }}">
    <input type="hidden" id="empty-data" data-empty="{{ emptyData }}">
    <div id="loading-content"></div>

{% endblock %}
