<p></p>

<a
    href="{{ path('admin_module_create', {id: course.id}) }}"
    class="btn btn-outline-success"
>
    Добавить модуль
</a>
<a
    href="{{ path('admin_course_autonumeration', {id: course.id}) }}"
    class="btn btn-outline-primary"
    onclick="return window.confirm('Подтвердите действие');"
>
    Автонумерация переходов
</a>

<ul id="draggable-module-container" class="list-unstyled">
    {% for module in modules %}
        <li class="draggable-module-item" data-id="{{ module.id }}">
            <div>
                {{ module.name }}
                <span class="module-buttons">
                    <a
                        class="btn btn-outline-primary"
                        href="{{ path('admin_module_edit', {id: module.id}) }}"
                        title="Редактировать"
                    >
                        <img src="{{ asset('svg/pencil.svg') }}">
                    </a>
                    <a
                        class="btn btn-outline-danger"
                        href="{{ path('admin_module_delete', {id: module.id}) }}"
                        onclick="return window.confirm('Подтвердите действие');"
                        title="Удалить"
                    >
                        <img src="{{ asset('svg/trash.svg') }}">
                    </a>
                </span>
            </div>
        </li>
    {% endfor %}
</ul>
