{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Учебные материалы{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    <a href="{{ path('admin_course_list') }}">Учебные материалы</a>
    <span>/</span>
    <span>Редактирование</span>
{% endblock %}

{% block content %}

    <h3>Интерактивные учебные материалы</h3>

    <p></p>

    {% if form.vars['value'].id is not null %}

        {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}

        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.shortName) }}</span>
                    {{ form_widget(form.shortName) }}
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                    {{ form_widget(form.name) }}
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.profile) }}</span>
                    {{ form_widget(form.profile) }}
                </div>
            </div>

            <div class="row">
                {% if form.vars['value'].image is not empty %}
                    <div class=col-3>
                        <img src="/storage/course/{{ course.id }}/{{ form.vars['value'].image }}" height="100px">
                    </div>
                {% endif %}
                <div class="col-9 mb-3">
                    <div class="form-group">
                        <span class="text-danger">{{ form_errors(form.image) }}</span>
                        {{ form_widget(form.image) }}
                    </div>
                </div>
                <p></p>
            </div>

            <div class="col-12 mb-3">
                <div class="form-check form-switch">
                    <span class="text-danger">{{ form_errors(form.forDemo) }}</span>
                    {{ form_label(form.forDemo) }}
                    {{ form_widget(form.forDemo) }}
                </div>
            </div>

        </div>
    {% endif %}
    
    <nav>
        <div class="nav nav-tabs" id="nav-modules-tab" role="tablist">
            <button class="nav-link active" id="nav-modules-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-modules"
                    type="button" role="tab" aria-controls="nav-themes" aria-selected="true">Модули
            </button>
            <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info"
                    type="button" role="tab" aria-controls="nav-info" aria-selected="false">Материалы
            </button>
             <button class="nav-link" id="nav-question-tab" data-bs-toggle="tab" data-bs-target="#nav-question"
                    type="button" role="tab" aria-controls="nav-question" aria-selected="false">Вопросы
            </button>
            <button class="nav-link" id="nav-show-ticket-tab" data-bs-toggle="tab" data-bs-target="#nav-show-ticket"
                    type="button" role="tab" aria-controls="nav-show-ticket" aria-selected="false">Просмотреть билеты
            </button>
            <button class="nav-link" id="nav-create-ticket-tab" data-bs-toggle="tab" data-bs-target="#nav-create-ticket"
                    type="button" role="tab" aria-controls="nav-create-ticket" aria-selected="false">Создать билеты
            </button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-modules" role="tabpanel" aria-labelledby="nav-modules-tab">
            {% include 'admin/course/interactive/_modules.html.twig' %}
        </div>
        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
            {% include 'admin/course/interactive/_infos.html.twig' %}
        </div>
        <div class="tab-pane fade" id="nav-question" role="tabpanel" aria-labelledby="nav-question-tab">
            <p></p>
            {% include 'admin/course/interactive/_questions.html.twig' %}
        </div>
        <div class="tab-pane fade" id="nav-show-ticket" role="tabpanel" aria-labelledby="nav-show-ticket-tab">
            <p></p>
            {% include 'admin/course/interactive/_ticket-view.html.twig' %}
        </div><div class="tab-pane fade" id="nav-create-ticket" role="tabpanel" aria-labelledby="nav-create-ticket-tab">
            <p></p>
            {% include 'admin/course/interactive/_ticket.html.twig' %}
            <p></p>
        </div>
    </div>
    
    {% if form.vars['value'].id is not null %}
        <div class="form-group mb-3">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
