{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Учебные материалы{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    <a href="{{ path('admin_course_list') }}">Учебные материалы</a>
    <span>/</span>
    <span>Редактирование</span>
{% endblock %}

{% block content %}

    <h3>Интерактивные учебные материалы</h3>

    <p></p>

    {% if form.vars['value'].id is not null %}

        {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}

        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.shortName) }}</span>
                    {{ form_widget(form.shortName) }}
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                    {{ form_widget(form.name) }}
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.profile) }}</span>
                    {{ form_widget(form.profile) }}
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <span class="text-danger">{{ form_errors(form.image) }}</span>
                    {{ form_widget(form.image) }}
                </div>
            </div>

        </div>
    {% endif %}

    
    <nav>
        <div class="nav nav-tabs" id="nav-modules-tab" role="tablist">
            <button class="nav-link active" id="nav-modules-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-modules"
                    type="button" role="tab" aria-controls="nav-themes" aria-selected="true">Модули
            </button>
            <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info"
                    type="button" role="tab" aria-controls="nav-info" aria-selected="false">Материалы
            </button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-modules" role="tabpanel" aria-labelledby="nav-modules-tab">
            {% include 'admin/course/interactive/_modules.html.twig' %}
        </div>
        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
            {% include 'admin/course/interactive/_infos.html.twig' %}
        </div>
    </div>
    
    {% if form.vars['value'].id is not null %}
        <div class="form-group mb-3">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}