{% for item in data.items %}
    <div class="history_table_row">
        <div class="course">{{ item.name }}</div>
        <div class="status">
            {% if item.stage == 1 %}
                обучение не начато
            {% elseif item.stage == 2 %}
                обучение идет
            {% else %}
                обучение завершено
            {% endif %}
        </div>
        <div class="start_at">
            {% if item.activatedAt is not empty %}
                <span class="header">начало обучения: </span>{{ item.activatedAt | date('d.m.Y') }}
            {% endif %}
        </div>
        <div class="finish_at">
            {% if item.endDate is not empty %}
                <span class="header">завершение обучения: </span>{{ item.endDate | date('d.m.Y') }}
            {% endif %}
        </div>
        <div class="results">
            <div class="results_row">
                <span class="header">результат: </span>
                {{ item.result }}
            </div>
            {% if item.stage == 3 %}
                <div class="results_row">
                    {% if item.successLogName is not empty %}
                        <a href="/storage/doc/{{ item.successLogName }}" target="_blank">Скачать протокол первой успешной попытки</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if item.loggerId is not empty %}
                 <div class="results_row">
                    {% if item.lastLogName is not empty %}
                        <a href="/storage/doc/{{ item.lastLogName }}" target="_blank">Скачать протокол крайней попытки</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="duration">
            <span class="header">длительность: </span>{{ item.duration }}
        </div>
    </div>
{% endfor %}
