<div class="modules">
    <div class="modules_item">
        <div class="modules_item_check" {% if courseProgress.0 is defined and courseProgress.0 == 'active' %}status="passed"{% endif %}></div>
        <div class="modules_item_composition">
            {% if hasMultipleThemes %}
                <a href="{{ path('app_frontend_preparation_many', {id: permission.id}) }}" class="modules_item_name" status="passed">Подготовка к аттестации</a>
            {% else %}
                <a href="{{ path('app_frontend_preparation_one', {id: permission.id, themeId: themeId}) }}" class="modules_item_name" status="passed">Подготовка к аттестации</a>
            {% endif %}
        </div>
    </div>

    {# {% if hasFavorites %}
        <div class="modules_item">
            <div class="modules_item_favorites">
                <img src="{{ asset('img/add-favorites.svg') }}" alt="">
            </div>
            <div class="modules_item_composition">
                <a href="{{ path('app_frontend_favorites_list', {id: permission.id}) }}" class="modules_item_name">Избранное</a>
            </div>
        </div>
    {% endif %} #}

    <div class="modules_item">
        <div class="modules_item_check" {% if permission.stage == 3 %}status="passed"{% endif %}></div>
        <div class="modules_item_composition">
            {% if permission.stage == 1 %}
                <a href="javascript:void(0);" class="modules_item_name" content-elem="final-testing" status="not-passed">Итоговое тестирование</a>
            {% else %}
                <a href="{{ path('app_frontend_testing', {id: permission.id}) }}" class="modules_item_name" content-elem="final-testing" status="passed">Итоговое тестирование</a>
            {% endif %}
        </div>
    </div>

    {% if permission.surveyEnabled %}
        <div class="program_files">
            <a class="program_files_item" href="{{ path('app_frontend_survey', {id: permission.id}) }}">
                <div class="program_files_item_image">
                    <img src="{{ asset('img/checklist.svg') }}" alt="">
                </div>
                <div class="program_files_item_name">
                    Опрос по курсу
                </div>
            </a>
        </div>
    {% endif %}

</div>
