<div class="modules">

    {% set finalTestingEnabled = true %}

    {% for module in courseProgress %}

        {% if module.active == false %}
            {% set finalTestingEnabled = false %}
        {% endif %}

        <div class="modules_item">
            <div class="modules_item_check" {% if module.active %}status="passed"{% endif %}></div>
            <div class="modules_item_composition">
                <div class="modules_item_name" status="{% if module.active %}passed{% else %}not-passed{% endif %}">{{ module.name }}</div>
                <div class="modules_item_parts">
                    {% for section in module.sections %}
                        <a href="{{ path('user_get_info_module', {id: permission.id, moduleId: section.id}) }}" class="modules_item_parts_item">{{ section.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modules_item">
        <div class="modules_item_check" {% if permission.stage == 3 %}status="passed"{% endif %}></div>
        <div class="modules_item_composition">
            <a
                {% if finalTestingEnabled %}
                    href="{{ path('app_frontend_testing', {id: permission.id}) }}"
                {% endif %}
                class="modules_item_name"
                content-elem="final-testing"
                status="{% if not finalTestingEnabled %}not-{% endif %}passed"
            >
                Итоговое тестирование
            </a>
        </div>
    </div>

    {% if permission.surveyEnabled %}
        <div class="program_files">
            <a class="program_files_item" href="{{ path('app_frontend_survey', {id: permission.id}) }}">
                <div class="program_files_item_image">
                    <img src="{{ asset('img/checklist.svg') }}" alt="">
                </div>
                <div class="program_files_item_name">
                    Опрос по курсу
                </div>
            </a>
        </div>
    {% endif %}

</div>
