<div class="modules">

    {% set finalTestingEnabled = true %}

    {% for module in courseProgress %}
        <div class="modules_item">
            <div class="modules_item_check" {% if module.active %}status="passed"{% endif %}></div>
            <div class="modules_item_composition">
                <div class="modules_item_name" status="{% if module.active %}passed{% else %}not-passed{% endif %}">{{ module.name }}</div>
                <div class="modules_item_parts">
                    {% for section in module.sections %}
                        {# {{ dump(section) }} #}
                        {% if section.urlType == 1 %}
                            <a href="{{ path('user_get_info_module', {id: module.courseId, moduleId: section.id}) }}" class="modules_item_parts_item">{{ section.name }}</a>
                        {% else %}
                            <a href="{{ path('user_get_info_module_external', {id: module.courseId, moduleId: section.id}) }}" class="modules_item_parts_item">{{ section.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if module.active == false %}
            {% set finalTestingEnabled = false %}
        {% endif %}

    {% endfor %}

    <div class="modules_item">
        <div class="modules_item_check"></div>
        <div class="modules_item_composition">
            <!--Если промежуточные тесты не пройдены, то при клике открываем попап-->
            <a 
                {% if finalTestingEnabled %}
                    href="{{ path('app_frontend_testing', {id: permission.id}) }}"
                {% endif %} 
                class="modules_item_name" 
                content-elem="final-testing" 
                status="{% if not finalTestingEnabled %}not-{% endif %}passed"
            >
                Итоговое тестирование
            </a>
        </div>
    </div>
</div>
