{% extends 'frontend/base.html.twig' %}

{% block title %}{{ permission.course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs', 'activeCourse': permission.course.id})) }}
            <div class="content">
                <div class="module">
                    <h1>{{ moduleSection.name }}</h1>
                    {% for page in moduleSectionPages %}
                        {% if page.type == 1 %}
                            <div class="module_slider">
                                <iframe
                                    src="/storage/course/{{ moduleSection.module.course.id }}/{{ page.id}}/res/index.php"
                                    style="width:100%; height: 100vh"
                                    frameborder="0"
                                    allowfullscreen
                                    >
                                </iframe>
                            </div>
                        {% elseif page.type == 2 %}
                            <div class="module_slider">
                                <iframe
                                    src="{{ page.url }}"
                                    style="width:100%; height: 100vh"
                                    frameborder="0"
                                    allowfullscreen
                                    >
                                </iframe>
                            </div>
                        {% else %}
                            <div class="module_slider">
                                {{ page.textData | raw }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="arrow_links {% if moduleSection.prevMaterialId is empty %}arrow-links-next{% endif %}">
                    {% if moduleSection.prevMaterialId is not empty %}
                        <a href="{{ path('user_get_info_module', {id: permission.id, moduleId: moduleSection.prevMaterialId}) }}">Назад</a>
                    {% endif %}
                    {% if moduleSection.nextMaterialId is not empty %}
                        <a href="{{ path('user_get_info_module', {id: permission.id, moduleId: moduleSection.nextMaterialId}) }}">Далее</a>
                    {% endif %}
                    {% if isLastArrowButton %}
                        {% if isFinalTestingEnabled %}
                            <a href="{{ path('app_frontend_testing', {id: permission.id}) }}">Далее</a>
                        {% else %}
                            <a content-elem="final-testing" status="not-passed">Далее</a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay">
        <div class="popup" popup-element="popup">
            <p>Для прохождения итогового тестирования необходимо пройти все промежуточные тестирования каждого модуля.</p>
            <p>Успешного обучения!</p>
            <div class="popup_close_wrapper">
                <a class="popup_close" popup-element="popup-close">закрыть</a>
            </div>
        </div>
    </div>

    <input
        type="hidden"
        class="time-control"
        data-url="{{ getTimingControlUrl() }}"
        data-permission-id="{{ permission.id }}"
        data-permission-start="{{ permission.lastAccess | date('U') }}"
    >

{% endblock %}
