{% extends 'frontend/base.html.twig' %}

{% block title %}{{ permission.course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs', 'activeCourse': permission.course.id})) }}
            <div class="content">
                <div class="program">
                    <h1>{{ permission.course.name }}</h1>

                    {% if courseInfo is not empty %}
                         <div class="program_files">
                            <a 
                                class="program_files_item" 
                                href="{{ path('app_frontend_course_view_list', {id: permission.course.id }) }}"
                            >
                                <div class="program_files_item_image">
                                    <img src="{{ asset('img/file.svg') }}" alt="">
                                </div>
                                <div class="program_files_item_name">
                                    Нормативные материалы
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if permission.course.type == 1 %}
                        {% include('frontend/course/_classic.html.twig') %}
                    {% else %}
                        {% include('frontend/course/_interactive.html.twig') %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay">
        <div class="popup" popup-element="popup">
            <p>Для прохождения итогового тестирования необходимо пройти все промежуточные тестирования каждого модуля.</p>
            <p>Успешного обучения!</p>
            <div class="popup_close_wrapper">
                <a class="popup_close" popup-element="popup-close">закрыть</a>
            </div>
        </div>
    </div>

{% endblock %}
