{% extends 'admin/base.html.twig' %}

{% block title %}Загрузка пользователей из 1С{% endblock %}

{% block content %}

    <h3>Выберите слушателей</h3>

    <div class="col-12">

        <button class="btn btn-outline-success" id="select-all">
            <img src="{{ asset('svg/check-box.svg') }}" alt="">
            Выбрать всех
        </button>

        <button class="btn btn-outline-success" id="clean-all">
            <img src="{{ asset('svg/minus.svg') }}" alt="">
            Снять отметку
        </button>

        <button class="btn btn-outline-success" id="load-query" data-url="{{ path('admin_get_modal_1c_load') }}">
            <img src="{{ asset('svg/write.svg') }}" alt="">
            Отправить в очередь
        </button>

    </div>

    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>

            </td>
            <td>
                Заказ
            </td>
            <td>
                Фамилия
            </td>
            <td>
                Имя
            </td>
            <td>
                Отчество
            </td>
            <td>
                Организация
            </td>
            <td>
                Курс
            </td>

        </tr>
        </thead>
        <tbody class="user-list">
        {% for item in userData %}
            <tr>
                <td>
                    <input type="checkbox" name="user_{{ loop.index }}" class="user-list-checkbox">
                </td>
                <td>
                    <span class="user-list-order">{{ item['orderNo'] }}</span>
                </td>
                <td>
                    <span class="user-list-lastname">{{ item['lastName'] }}</span>
                </td>
                <td>
                    <span class="user-list-firstname">{{ item['firstName'] }}</span>
                </td>
                <td>
                    <span class="user-list-patronymic">{{ item['patronymic'] }}</span>
                </td>
                <td>
                    <span class="user-list-organization">{{ item['organization'] }}</span>
                </td>
                <td>
                    <span>{{ item['courseName'] }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
