{% extends 'frontend/base.html.twig' %}

{% block title %}История обучения{% endblock %}

{% block body %}
    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'history'})) }}
            <div class="content">
                <div class="history">
                    <h1>История обучения</h1>
                    <div class="history_table">
                        <div class="history_table_header">
                            <div class="history_table_row">
                                <div class="course">Курс</div>
                                <div class="status">Статус</div>
                                <div class="start_at">Начало<br>обучения</div>
                                <div class="finish_at">Завершение<br>обучения</div>
                                <div class="results">Результаты итогового<br>тестирования</div>
                                <div class="duration">Длительность<br>обучения</div>
                            </div>
                        </div>
                        <div class="history_table_content">
                            {% for permission in permissions %}
                                <div class="history_table_row">
                                    <div class="course">{{ permission.course.name }}</div>
                                    <div class="status">
                                        {% if permission.stage == 1 %}
                                            обучение не начато
                                        {% elseif permission.stage == 1 %}
                                            обучение идет
                                        {% else %}
                                            обучение завершено    
                                        {% endif %}
                                    </div>
                                    <div class="start_at">{{ permission.activatedAt | date('d.m.Y') }}</div>
                                    <div class="finish_at">{{ getResultDescription(permission.id).endDate }}</div>
                                    <div class="results">{{ getResultDescription(permission.id).result }}</div>
                                    <div class="duration">{{ getResultDescription(permission.id).duration }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('frontend/components/footer.html.twig') %}
    <div class="overlay" popup-element="overlay"></div>
{% endblock %}
