{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Инструменты{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    <span>Инструменты</span>
{% endblock %}

{% block content %}

    <h3>Инструменты</h3>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Дисковое пространство
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Всего</p></td>
                            <td><p class="card-text text-end">{{ data.diskTotalSpace }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Из них свободно</p></td>
                            <td><p class="card-text text-end">{{ data.freeDiskSpace }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Занято</p></td>
                            <td><p class="card-text text-end">{{ data.usedSpace }} %</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Должно быть свободно</p></td>
                            <td><p class="card-text text-end">{{ data.freeDiskSpaceMin }}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Рассылки Email
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Создано за сегодня</p></td>
                            <td><p class="card-text text-end">{{ data.mailCreatedToday }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Неотправленных</p></td>
                            <td><p class="card-text text-end">{{ data.mailNotSended }}</p></td>
                        </tr>
                    </table>
                    <div>
                        <a href="{{ path('admin_dashboard_mail_list') }}" class="btn btn-sm btn-outline-primary">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Рассылки WhatsApp, MAX
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Создано за сегодня</p></td>
                            <td><p class="card-text text-end">{{ data.whatsappCreatedToday }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Неотправленных</p></td>
                            <td><p class="card-text text-end">{{ data.whatsappNotSended }}</p></td>
                        </tr>
                    </table>
                    <div>
                        <a href="{{ path('admin_dashboard_whatsapp_list') }}" class="btn btn-sm btn-outline-primary">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    Действия
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Очередь: </p></td>
                            <td><p class="card-text text-end">{{ data.queryJobNewCount }}</p></td>
                        </tr>
                    </table>

                    <div>
                        <a
                            href="{{ path('admin_dashboard_query_user_clear')}}"
                            class="btn btn-sm btn-outline-primary"
                            onclick="return window.confirm('Подтвердите действие');"
                        >
                            Очистить
                        </a>
                    </div>

                    <p></p>

                    <div>
                        <a
                            href="{{ path('admin_action_log') }}"
                            class="btn btn-sm btn-outline-primary"
                        >
                            Действия
                        </a>
                    </div>
                    <p></p>
                    {# <div>
                        <a
                            href="{{ path('admin_testing_history') }}"
                            class="btn btn-sm btn-outline-primary"
                        >
                            Проверка тестирования
                        </a>
                    </div> #}
                </div>
            </div>
        </div>
    </div>

    <p></p>

    {{ form_start(form) }}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                {{ form_label(form.userHasNewPermission) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasNewPermission) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                {{ form_label(form.userHasActivatedPermission) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasActivatedPermission) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                {{ form_label(form.permissionWillEndSoon) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.permissionWillEndSoon) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.emailAttachmentStatisticText) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.emailAttachmentStatisticText) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.emailAttachmentResultText) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.emailAttachmentResultText) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.userHasNewPermissionWhatsapp) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasNewPermissionWhatsapp) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.userHasActivatedPermissionWhatsapp) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasActivatedPermissionWhatsapp) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.permissionWillEndSoonWhatsapp) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.permissionWillEndSoonWhatsapp) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.userHasNewPermissionMax) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasNewPermissionMax) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.userHasActivatedPermissionMax) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasActivatedPermissionMax) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_label(form.permissionWillEndSoonMax) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.permissionWillEndSoonMax) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            {{ form_row(form.actionSubmit) }}
        </div>
    {{ form_end(form) }}

{% endblock %}
