{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Инструменты{% endblock %}

{% block content %}

    <h3>Инструменты</h3>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Дисковое пространство
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Всего</p></td>
                            <td><p class="card-text text-end">{{ data.diskTotalSpace }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Из них свободно</p></td>
                            <td><p class="card-text text-end">{{ data.freeDiskSpace }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Занято</p></td>
                            <td><p class="card-text text-end">{{ data.usedSpace }} %</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    Рассылки
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td><p class="card-text">Создано за сегодня</p></td>
                            <td><p class="card-text text-end">{{ data.mailCreatedToday }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="card-text">Неотправленных</p></td>
                            <td><p class="card-text text-end">{{ data.mailNotSended }}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    {{ form_start(form) }}

        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                   {{ form_label(form.emailAttachmentStatisticText) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.emailAttachmentStatisticText) }}
                </div>
            </div>
        </div>

        <p></p>
        
        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                   {{ form_label(form.emailAttachmentResultText) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.emailAttachmentResultText) }}
                </div>
            </div>
        </div>

        <p></p>
        
        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                   {{ form_label(form.userHasNewPermission) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasNewPermission) }}
                </div>
            </div>
        </div>

        <p></p>
        
        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                   {{ form_label(form.userHasActivatedPermission) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.userHasActivatedPermission) }}
                </div>
            </div>
        </div>

        <p></p>
        
        <div class="col-12">
            <div class="card">
                 <div class="card-header">
                   {{ form_label(form.permissionWillEndSoon) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.permissionWillEndSoon) }}
                </div>
            </div>
        </div>

        <p></p>

        <div class="col-12">
            {{ form_row(form.actionSubmit) }}
        </div>
    {{ form_end(form) }}

{% endblock %}
