{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Рассылки{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('admin_homepage') }}">Панель управления</a>
    <span>/</span>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('admin_dashboard') }}">Инструменты</a>
        <span>/</span>
    {% endif %}
    <span>Рассылки WhatsApp</span>
{% endblock %}

{% block content %}

    <h3>Рассылки WhatsApp</h3>

    {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}
        <div class ="row">

            <div class="col-4">
                {{ form_widget(form.sender) }}
            </div>

            <div class="col-4">
                {{ form_widget(form.userName) }}
            </div>

            <div class="col-3">
                {{ form_widget(form.phone) }}
            </div>

            <div class="col-1 float-end">
                {{ form_widget(form.submit) }}
            </div>

        </div>
    {{ form_end(form) }}

    <p></p>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Создано</th>
                    <th>Отправлено</th>
                    <th>Получатель</th>
                    <th>Номер</th>
                    <th>Тема</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
            </thead>

            <tbody>
                {% for page in pagination %}
                    <tr>
                        <td>
                            {% if page.sendedAt is null %}
                                -
                            {% else %}
                                {{ page.sendedAt | date('d.m.Y H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ page.createdAt | date('d.m.Y H:i:s') }}
                        </td>
                        <td>
                            {% if page.user is not empty %}
                                {{ page.user.fullName }}
                            {% endif %}
                        </td>
                        <td>
                            {{ page.phone }}
                        </td>
                        <td>
                            {{ page.subject }}
                        </td>
                        <td>
                            {{ page.status }}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a
                                    href="{{ path('admin_dashboard_whatsapp_list_detail', {id: page.id}) }}"
                                    class="btn btn-outline-primary"
                                    title="Детальный просмотр"
                                >
                                    <img src="{{ asset('svg/eye.svg') }}">
                                </a>
                                <a
                                    href="{{ path('admin_dashboard_whatsapp_list_delete', {id: page.id}) }}"
                                    class="btn btn-outline-danger"
                                    title="Удалить расслку"
                                    onclick="return window.confirm('Подтвердите действие');"
                                >
                                    <img src="{{ asset('svg/trash.svg') }}">
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="navigator">
        {{ knp_pagination_render(pagination) }}
    </nav>

{% endblock %}
