{% extends 'frontend/base.html.twig' %}

{% block title %}ПромЭнергоБезопасность | Личный кабинет{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('homepage') }}">Главная страница</a>
    <span>/</span>
    <span>Личный кабинет</span>
{% endblock %}

{% block content %}
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Выдан</th>
            <th>Длительность</th>
            <th>Заказ</th>
            <th>Активирован</th>
            <th>Посл. доступ</th>
            <th>Курс</th>
        </tr>
        </thead>

        <tbody>
        {% for permission in pagination %}
            <tr>
                <td>
                    {% if permission.isActive %}
                        <span><img src="{{ asset('svg/check.svg') }}"></span>
                    {% else %}
                        <span><img src="{{ asset('svg/lock.svg') }}"></span>
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {{ permission.createdAt | date('d.m.Y H:i:s') }}
                </td>
                <td style="text-align: right">{{ permission.duration }}</td>
                <td>{{ permission.orderNom }}</td>
                <td style="text-align: right">
                    {% if permission.activatedAt is not null %}
                        {{ permission.activatedAt | date('d.m.Y H:i:s') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {% if permission.lastAccess is not null %}
                        {{ permission.lastAccess | date('d.m.Y H:i:s') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <span>{{ permission.name }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="navigator">
        {{ knp_pagination_render(pagination) }}
    </nav>
{% endblock %}