<div class="header_profile">
    <div class="header_profile_fullname">
        <div class="header_profile_lastname">{{ app.user.lastName }}</div>
        <div class="header_profile_name">
            <div class="header_profile_firstname">{{ app.user.firstName }}</div>
            <div class="header_profile_middlename">{{ app.user.patronymic }}</div>
        </div>
    </div>
    {% if app.user.image is not null%}
        <div class="header_profile_avatar">
            <img src="/storage/avatar/{{ app.user.image }}" alt="">
        </div>
    {% else %}
        <div class="header_profile_noavatar">
            <div class="header_profile_noavatar_abbreviation">
                {{ app.user.firstName | first }}
                {{ app.user.lastName | first }}
            </div>
        </div>
     {% endif %}
</div>
