{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления{% endblock %}

{% block content %}

    <h3>
        {% if form.vars['value'].id is null %}
            Создание доступа
        {% else %}
            Редактирование доступа
        {% endif %}
    </h3>

    {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}

    <div class="row">

        <div class="mb-3 row">
            {{ form_label(form.createdAt) }}
            <div class="col-sm-10">
                <span class="text-danger">{{ form_errors(form.createdAt) }}</span>
                {{ form_widget(form.createdAt) }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form_label(form.duration) }}
            <div class="col-sm-10">
                <span class="text-danger">{{ form_errors(form.duration) }}</span>
                {{ form_widget(form.duration) }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form_label(form.orderNom) }}
            <div class="col-sm-10">
                <span class="text-danger">{{ form_errors(form.orderNom) }}</span>
                {{ form_widget(form.orderNom) }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form_label(form.course) }}
            <div class="col-sm-10">
                <span class="text-danger">{{ form_errors(form.course) }}</span>
                {{ form_widget(form.course) }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form_label(form.activatedAt) }}
            <div class="col-sm-10">
                <span class="text-danger">{{ form_errors(form.activatedAt) }}</span>
                {{ form_widget(form.activatedAt) }}
            </div>
        </div>

        <div class="form-group mb-3">
            {{ form_widget(form.submit) }}
        </div>

    </div>

    {{ form_end(form) }}

{% endblock %}