<form class="control-questions_item" test-form-elem="form" id="question-{{ item.id }}">

    <div class="test_form_question_wrapper">
        <div class="test_form_question_number">
            {{ item.nom }}.
        </div>
        <div class="test_form_question">
            {{ item.description | raw }}
        </div>
    </div>

    {% for answer in item.answers %}
        <label class="test_form_label test_form_checkbox_wrapper">
            <input class="test_form_checkbox" type="checkbox" name="answer3" value="{{ answer.nom }}" data-right="{{ answer.right }}">
            <div class="test_form_custom_checkbox"></div>
            <div class="test_form_answer">{{ answer.description | raw }}</div>
        </label>
    {% endfor %}

    {% if item.help is not empty %}
        <div class="control-questions_item_prompt_wrapper" test-form-elem="prompt-wrapper">
            <a class="control-questions_item_prompt_open" test-form-elem="prompt-open">подсказка</a>
            <div class="control-questions_item_prompt" test-form-elem="prompt">
                <span>Подсказка: </span>
                {{ item.help | raw }}
            </div>
        </div>
    {% endif %}

    <div class="control-questions_item_buttons_wrapper">
        <button type="button" class="white-blue_button control-questions_item_button" data-form-id="question-{{ item.id }}" data-answer-type="{{ item.type }}">Ответить</button>
        <div class="control-questions_item_result"></div>
    </div>

</form>
