<div class="control-questions_display">
    <div class="control-questions_display_count_wrapper">
        <div class="control-questions_display_count_header">отображать по: </div>
        <div class="control-questions_display_count">
            <a 
                href="{% if data.perPage == 20 %}javascript:void(0){% else %}{{ data.url }}?perPage=20{% endif %}"
                class="control-questions_display_count_item {% if data.perPage == 20 %}active{% endif %}"
            >
                20
            </a>
            <div class="control-questions_display_separator">|</div>
            <a
                href="{% if data.perPage == 50 %}javascript:void(0){% else %}{{ data.url }}?perPage=50{% endif %}"
                class="control-questions_display_count_item {% if data.perPage == 50 %}active{% endif %}"
            >
                50
            </a>
            <div class="control-questions_display_separator">|</div>
            <a 
               href="{% if data.perPage == 100 %}javascript:void(0){% else %}{{ data.url }}?perPage=100{% endif %}"
                class="control-questions_display_count_item {% if data.perPage == 100 %}active{% endif %}"
            >
                100
            </a>
        </div>
    </div>
    <div class="control-questions_display_pages_wrapper">
        {% for page in data.paginator %}
            <a 
                href="{% if page.isActive%}javascript:void(0){% else %}{{ page.url }}{% endif %}" 
                class="control-questions_display_pages_item{% if page.isActive %} active{% endif %}"
            >
                {{ page.title }}
            </a>
            {% if not loop.last%}
                <div class="control-questions_display_separator">|</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
