{% extends 'frontend/base.html.twig' %}

{% block title %}Контрольные вопросы по теме{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs'})) }}
            <div class="content">
                <div class="control-questions" control-questions-elem="wrapper">
                    <h1>Подготовка к аттестации</h1>
                    {% include('frontend/preparation/_counters.html.twig') %}
                    <div class="control-questions_wrapper" control-questions-elem="inner">
                        {% include('frontend/preparation/_partial.html.twig') %}
                    </div>
                    <div
                        class="control-questions_mobile_ajax"
                        control-questions-elem="ajax-trigger"
                        data-url="{{ path('app_frontend_preparation_one_next_page') }}"
                        data-page="2"
                        data-per-page="20"
                        data-permission-id="{{ data.permissionId }}"
                        data-theme-id="{{ data.themeId }}"
                    >
                    </div>
                    {% include('frontend/preparation/_counters.html.twig') %}
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

    <input
        type="hidden"
        class="time-control"
        data-url="{{ getTimingControlUrl() }}"
        data-permission-id="{{ data.permissionId }}"
        data-permission-start="{{ data.permissionLastAccess }}"
    >

{% endblock %}
