Вам назначен курс: {{ permission.course.name }}<br>
<a href="https://ucoks.safety63.ru">Доступ по ссылке</a><br>
<br>
Логин для входа: {{permission.user.login }}<br>
Пароль: {{ permission.user.plainPassword }}<br>
Продолжительность доступа в днях: {{ permission.duration }}<br>
<br>
Техническая поддержка: телефон  +7-937-077-11-65, +7 (846) 26-915-26, Email: support@safety63.ru<br>
График работы: с 8:00 до 22:00 без перерывов и выходных<br>
{% if permission.createdBy is not empty %}<br>
    Ответственный методист: {{ permission.createdBy.fullName }}<br>
    Телефон: {{ permission.createdBy.contact }}<br>
{% endif %}<br>
<br>
Для корректной работы необходим браузер с поддержкой JavaScript<br>
