{% extends 'admin/base.html.twig' %}

{% block title %}Панель управления | Профили{% endblock %}

{% block content %}

    <h3>
        {% if form.vars['value'].id is null %}
            Создание профиля
        {% else %}
            Редактирование профиля
        {% endif %}
    </h3>

    {{ form_start(form, {'attr':{'class': 'form-contact contact_form'}}) }}

    <div class="row">

        <div class="col-12 mb-3">
            <div class="form-group">
                <span class="text-danger">{{ form_errors(form.name) }}</span>
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="form-group mb-3">
            {{ form_widget(form.submit) }}
        </div>

    </div>

    {% if form.vars['value'].id is not null %}
         <table class="table">
            <tbody>
                {% for course in profile.course %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_course_edit', {id: course.id}) }}">
                                {{ course.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}
